@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Semibold.eot');
  src: url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('fonts/ProximaNova-Semibold.woff') format('woff'),
  url('fonts/ProximaNova-Semibold.ttf') format('truetype'),
  url('fonts/ProximaNova-Semibold.svg#webfont') format('svg'); }

* {
  font-family: "Proxima Nova", sans-serif; 
  font-size: 56px; }
.w {
  display: block; }
.crsl-items {
  display: block; }
.crsl-item {
  background: #fff; }
.crsl-item .thumbnail {
  display: block;
  position: relative; }
.crsl-item .thumbnail img { 
  width: 330px;
  height: 430px;	
  display: block; 
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.clearfix {
  padding-left: 750px; }
.slidernav {
  display: block;
  text-align: center;
  margin-bottom: 56px; }
.slidernav a {
  display: inline-block;
  margin-right: 8px;
  text-decoration: none; }



@media screen and (max-width: 660px) {
.clearfix { 
  display: inline-block; }